<header>
  <mdb-navbar
    SideClass="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark unique-color border-bottom box-shadow mb-3">
    <div class="container">
      <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="['/lombard']">
          <img src="./../../assets/logo_lombard.jpg" height="50" alt="">
        </a>
      </mdb-navbar-brand>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">

          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/lombard']">O nas</a>
          </li> -->

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/lombard']">Przeglądaj</a>
          </li>

          <li *ngIf="currentUser | async" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/lombard/new']">Wystaw</a>
          </li>
          <!-- <mat-menu #adminMenu="matMenu">
            <button mat-menu-item [routerLink]="['admin/panel']">
              Panel
            </button>
            <button mat-menu-item [routerLink]="['admin/users']">
              Users
            </button>
          </mat-menu> -->
          <li *ngIf="currentUser | async" class="nav-item" [routerLinkActive]="['link-active']">
            <button mat-icon-button class="nav-link waves-light" mdbWavesEffect [matMenuTriggerFor]="userMenu">
              <mat-icon>person</mat-icon>
              {{currentUserName | async}}
            </button>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="myData()">
                Moje dane
              </button>
              <button mat-menu-item [routerLink]="['userItems']">
                Moje przedmioty
              </button>
              <button mat-menu-item [routerLink]="['admin/panel']" *ngIf="this.auth.getRole() === 'ADMIN'">
                Admin panel
              </button>
              <button mat-menu-item (click)="logout()">
                Wyloguj
              </button>
            </mat-menu>
          </li>
          <li *ngIf="!(currentUser | async)" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </mdb-navbar>
</header>
