table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

.products {
  flex-grow: 4;
  margin: 15px 15px auto;
  max-width: 300px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.child {
  margin: auto;
}

.filter-panel {
  background-color: aquamarine;
  width: 100%;
}
