<!-- <mat-card *ngIf="products.data === null">Loading...</mat-card>
  <mat-card *ngIf="products.data.length === 0">Out of stock! Check later.</mat-card> -->
<mat-card class="filter-panel">
  <mat-chip-list>
    <mat-chip color="primary" *ngFor="let c of lombardProductCategories | async">{{c.name}}</mat-chip>
  </mat-chip-list>
</mat-card>
<div class="grid-container">
  <mdb-card class="products" *ngFor="let item of lombardProducts | async">
    <mdb-card-img src="{{item.img}}" alt="Card image cap">
    </mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <h4>{{item.name}}</h4>
      </mdb-card-title>
      <mdb-card-text> Expires: {{item.expirationDate | date}}
      </mdb-card-text>
      <a routerLink="/product-details/{{item.id}}" mdbBtn color="primary" mdbWavesEffect>Check
        more!</a>
    </mdb-card-body>
  </mdb-card>
</div>
