<!-- <mat-card *ngIf="products.data === null">Loading...</mat-card>
  <mat-card *ngIf="products.data.length === 0">Out of stock! Check later.</mat-card> -->
<mat-card class="filter-panel">
  <mat-chip-list>
    <mat-chip color="primary" *ngFor="let c of lombardProductCategories | async">{{c.name}}</mat-chip>
  </mat-chip-list>
</mat-card>
<div class="grid-container">
  <mat-card class="products" *ngFor="let item of lombardProducts | async">
    <mat-card-title>{{item.name}}</mat-card-title>
    <div class="container">
      <div class="child">
        <p>Added: {{item.publishDate | date}}</p>
        <p>Expires: {{item.expirationDate | date}}</p>
      </div>
      <div class="child">
        <p>Current bid: 15zł</p>
        <button mat-raised-button color="primary">Bid</button>
      </div>
    </div>
  </mat-card>
</div>
