<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 center" *ngIf="(product | async) as p">
    <mdb-card cascade="true" narrower="true">
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="{{p.imageMetaData}}"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <mdb-card-body cascade="true" class="text-center">
        <h4 class="card-title">{{p.name}}</h4>
        <mdb-card-text>
          {{p.description}}
        </mdb-card-text>
        <mdb-card-text>
          <h5>Auction expires: {{p.finallizationDateTimeDouble | date}}</h5>
          <h3>Current highest bid: <b class="{{(ownHighestBid | async) ? 'own' : 'notOwn'}}">{{(money() | async)}}$</b>
          </h3>
          <div *ngIf="isUserActive | async" class="col-md-8 center center-form">
            <div class="container">
              <form class="row">
                <div class="def-number-input number-input safari_only">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="minus"></button>
                  <input class="quantity" min="0" name="quantity" value="1" type="number" [formControl]="bidAmount">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
                <button mdbBtn color="primary" (click)="submitBid()" [disabled]="ownHighestBid | async">Bid!</button>
              </form>
            </div>
          </div>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-md-2"></div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
