<section class="mt-lg-5">

  <!--Grid row-->
  <div class="row" *ngIf="stats | async as adminStats">

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon far icon="money-bill-alt" class="primary-color"></mdb-icon>
          <div class="data">
            <p>ALL USERS</p>
            <h4><strong>{{adminStats.allUsers}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <mat-progress-bar mode="determinate" bufferValue="{{calculateMaximum(adminStats.allUsers)}}"
            value="{{adminStats.allUsers/calculateMaximum(adminStats.allUsers) * 100}}">
          </mat-progress-bar>
          <!--Text-->
          <p class="card-text">Worse than last week
            ({{adminStats.allUsers/calculateMaximum(adminStats.allUsers) * 100}}%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-line" class="warning-color"></mdb-icon>
          <div class="data">
            <p>ACTIVE ITEMS</p>
            <h4><strong>{{adminStats.activeItems}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <mat-progress-bar mode="determinate" bufferValue="{{calculateMaximum(adminStats.activeItems)}}"
            value="{{adminStats.activeItems}}">
          </mat-progress-bar>
          <!--Text-->
          <p class="card-text">Worse than last week
            ({{adminStats.activeItems/calculateMaximum(adminStats.activeItems) * 100}}%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-pie" class="light-blue lighten-1"></mdb-icon>
          <div class="data">
            <p>COMPLETED ITEMS</p>
            <h4><strong>{{adminStats.completedItems}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <mat-progress-bar mode="determinate" bufferValue="{{calculateMaximum(adminStats.completedItems)}}"
            value="{{adminStats.completedItems}}">
          </mat-progress-bar>
          <!--Text-->
          <p class="card-text">Worse than last week
            ({{adminStats.completedItems/calculateMaximum(adminStats.completedItems) * 100}}%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-bar" class="red accent-2"></mdb-icon>
          <div class="data">
            <p>CURRENTLY ONLINE</p>
            <h4><strong>{{adminStats.currentlyOnline}}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <mat-progress-bar mode="determinate" bufferValue="{{calculateMaximum(adminStats.currentlyOnline)}}"
            value="{{adminStats.currentlyOnline/calculateMaximum(adminStats.currentlyOnline) * 100}}">
          </mat-progress-bar>
          <!--Text-->
          <p class="card-text">Better than last week
            ({{adminStats.currentlyOnline/calculateMaximum(adminStats.currentlyOnline) * 100}}%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
